//---------------NAVBAR GUEST-----------------
#navbar_guest{
    background-color: $green_1;

    #header_logo_deliveboo{
        height: 35px;
        display: block;
    }

    .icon-color{
        color: $green_1;
    }

    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: 5px;
        margin-top: -0.3rem;
    }
}
