#section_plate_show {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    .card {
        padding-top: 20px;
        padding-bottom: 20px;

        .wrapper_image {

            .plate_image {
                max-width: 400px;
                aspect-ratio: 1/1;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }

        ul {
            list-style-position: outside;
            max-width: max-content;
            margin: 0 auto;

            li {
                max-width: max-content;
            }
        }
    }
}