// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Colori custom
$white_1: #FFFFFF;
$white_2: #f4f7e5;
$purple_1: #99006B;
$orange_1: #E94E55;
$violet: #3E235D;
$footer_black: #2e3333;
$footer_gray: #434848;

$green_0: #00C2B3;
$green_1: #00CCBC;
$green_2: #D0EB99;
$green_3: #e4e2d0;