//----------------------------SCROLLBAR
/* SCROLL-BAR STYLE */
::-webkit-scrollbar {
    width: 8px;
}
/* MANIGLIA DI SCORRIMENTO */
::-webkit-scrollbar-thumb {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: $violet;
}


//----------------------------SETTIN IMG
img{
    max-width: 100%;
}


//----------------------------BTN
// BTN STANDARD
.btn-standard{
    border: none;
    border-radius: 6px;
    padding: 7px 15px;
    background-color: white;
}

//BTN TRANSPARENT
.btn-transparent{
    background-color: transparent;
    border: 1px solid #ddd;
    color: $green_1;
    transition: all 250ms linear;
    font-weight: bold;

    &:hover{
        border-color: #aaa;
        color: $green_0;
    }
}

//BTN TRANSPARENT - WHITE
.btn-tr-white{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: all 250ms linear;

    &:hover{
        background-color: white;
        color: $green_1;
    }
}

// BTN GREEN 1
.btn-green_1 {
    background-color: $green_1;
    color: $white_1;
    transition: all 250ms linear;

    &:hover{
        background-color: $green_0;
    }
}

// BTN WHITE
.btn-white{
    background-color: $white;
    opacity: 0.8;
    transition: all 250ms linear;

    &:hover{
        opacity: 1;
    }
}

// BTN VIOLET
.btn-violet{
    background-color: $violet;
    color: $white_1;
    transition: all 250ms linear;

    &:hover{
        background-color: white;
        color: $green_1;
    }
}

// BTN GRADIENT
.btn-gradient {
    background: rgb(0,204,188);
    background: linear-gradient(45deg, rgba(0,204,188,1) 0%, rgba(0,204,188,1) 15%, rgba(0,204,188,0) 100%);
    color: black;
    border-radius: 45% 55% 83% 17% / 75% 29% 71% 25%  ;
    transition: all 250ms linear;
}




//----------------------------BACKGROUND
//BACKGROUND PURPLE
.bg-purple{
    background-color: $purple_1;
}

//BACKGROUND VIOLET
.bg-violet{
    background-color: $violet;
}

//BACKGROUND ORANGE
.bg-orange{
    background-color: $orange_1;
}

//BACKGROUND GREEN
.bg-green{
    background-color: $green_1;
}





//----------------------------MEDIA
@media (min-width: 1200px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1120px;
    }
}

@media (min-width: 768px){
    #navbarNav, .nav-burger, .cart-burger {
        display: none !important;
    }
}


//----------------------------CLASS BOOTSTRAP MODIFY
.form-control:focus {
    border-color: $violet;
    box-shadow: 0 0 0 0.25rem rgb(62 35 93 / 25%);
}


.form-check-input:checked {
    background-color: $green_1;
    border-color: $violet;
}
