#section_plates_index {

    .card {

        .plate_image {
            width: 100%;
            height: 200px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}


#section_plate_edit {
    padding-top: 40px;
    padding-bottom: 40px;

    .card {
        padding-top: 20px;
        padding-bottom: 20px;

        .wrapper_image {

            .plate_image {
                max-width: 400px;
                aspect-ratio: 1/1;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}


#section_plate_show {
    padding-top: 40px;
    padding-bottom: 40px;

    .card {
        padding-top: 20px;
        padding-bottom: 20px;

        .wrapper_image {

            .plate_image {
                max-width: 400px;
                aspect-ratio: 1/1;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        ul {
            list-style-position: outside;
            max-width: max-content;
            margin: 0 auto;

            li {
                max-width: max-content;
            }
        }
    }
}




.radio {
	background: #454857;
	padding: 0;
	border-radius: 3px;
    max-width: 74px;
	box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3);
	position: relative;

    input {
        width: 35px;
        height: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        padding: 4px 8px;
        background: #454857;
        color: #bdbdbdbd;
        font-size: 14px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        transition: all 100ms linear;

        &:checked {
            color: #fff;
            box-shadow: 0 1px 1px #0000002e;
            text-shadow: 0 1px 0px #79485f7a;
        }

    }

    .radio-yes:checked{
        background-image: linear-gradient(180deg, #95d891, #74bbad);
    }

    .radio-no:checked{
        background-image: linear-gradient(180deg, red, #801515);
    }    
}





.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
