//--------------------------------INDEX
#section_plates_index {

    .card {
        border-radius: 20px;
        overflow: hidden;

        .plate_image {
            width: 100%;
            height: 200px;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .card-text{
            border-top: 2px solid $violet;
            position: relative;

            .icon{
                color: $violet;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-75%);
                background-color: white;
                font-size: 18px;
                width: 22px;
            }
        }

        .plate-available{
            width: 18px;
            height: 18px;
        }

        .btn_wrapper{
            color: white;
        }

    }
}


//-------------POP-UP
#pop-up-delete{
    position:fixed;
    z-index: 990;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

}






#section_plate_edit {
    padding-top: 40px;
    padding-bottom: 40px;

    .card {
        padding-top: 20px;
        padding-bottom: 20px;

        .wrapper_image {

            .plate_image {
                max-width: 400px;
                aspect-ratio: 1/1;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}


#section_plate_show {
    padding-top: 40px;
    padding-bottom: 40px;

    .card {
        padding-top: 20px;
        padding-bottom: 20px;

        .wrapper_image {

            .plate_image {
                max-width: 400px;
                aspect-ratio: 1/1;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        ul {
            list-style-position: outside;
            max-width: max-content;
            margin: 0 auto;

            li {
                max-width: max-content;
            }
        }
    }
}
