//--------------------------------INDEX
#section_plates_index {

    .card {
        border-radius: 20px;
        overflow: hidden;

        .plate_image {
            width: 100%;
            height: 200px;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .card-body li{
            font-size: 16px;
        }

        .card-text{
            border-top: 2px solid $violet;
            position: relative;

            .icon{
                color: $violet;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-75%);
                background-color: white;
                font-size: 18px;
                width: 22px;
            }
        }

        .plate-available{
            width: 18px;
            height: 18px;
        }

        .btn_wrapper{
            color: white;
        }

        //BTN PLATE DELETE
        .btn-plate-delete{
            top: 0;
            right: 0;            
            cursor: pointer;
            clip-path: polygon(100% 0, 0 0, 100% 100%);
            background-color: red;
            width: 60px;
            height: 60px;
            transition: all 400ms linear;
            
            .icon-delete{
                font-size: 18px;
                color: white;
                position: absolute;
                right: 11px;
                top: 11px;
                transition: all 200ms linear;

                &:hover{
                    font-size: 50px;
                }
            }
            
            &:hover{
                width: 200%;
                height: 200%;
                background-color: rgba($color: red, $alpha: 0.7);

            }
        }

    }
}


//-------------POP-UP
#pop-up-delete{
    position:fixed;
    z-index: 990;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 1px 9999px rgba($color: #000000, $alpha: 0.75);

}







#section_plate_edit {
    padding-top: 40px;
    padding-bottom: 40px;

    .card {
        padding-top: 20px;
        padding-bottom: 20px;

        .wrapper_image {

            .plate_image {
                max-width: 400px;
                aspect-ratio: 1/1;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}


#section_plate_show {
    padding-top: 40px;
    padding-bottom: 40px;

    .card {
        padding-top: 20px;
        padding-bottom: 20px;

        .wrapper_image {

            .plate_image {
                max-width: 400px;
                aspect-ratio: 1/1;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        ul {
            list-style-position: outside;
            max-width: max-content;
            margin: 0 auto;

            li {
                max-width: max-content;
            }
        }
    }
}
