// ------------------------BODY---------------------------
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// ------------------------APP---------------------------
#app {
    flex-grow: 1;
    background-color: $green_2;
}

//---------------NAVBAR USER DASHBOARD-----------------
#navbar_app{
    background-color: $green_1;
}

#header_logo_deliveboo{
    height: 35px;
    display: block;
}

#dropdownMenuButton1{
    background-color: $white_1;
    border: 0px transparent;
    
    &:focus{
        box-shadow: 0 0 0 0.25rem rgba( $white_1, 0.5);
    }

    &.dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        color: $green_1;
    }

    #navbar_user_color{
        color: $green_1;

        
    }


}

.navbar_dashboard{
    color: $white_1;

    &:hover {
        color: $green_3;
        transition: all 300ms linear;
    }

    &.active {
        color: $green_3;
    }
}


//---------------HOMEPAGE USER-----------------
#homepage_main{
    background-color: $white_1;
    height: calc(100vh - 55px);
}

#homepage_btn_edit{
    background-color: $green_1;
    border: 0px transparent;
    color: $white_1;
    
}

#user_image_wrapper{
    height: 250px;
    padding: 10px 0;

    #user_image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    #user_image_title{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
        z-index: 1111;
        color: $white_1;
        text-transform: uppercase;
        font-weight: 800;
        color: white;
    }
}

#homepage_card{
    background-color: $green_1;
    color: $white_1;

    #homepage_user_type{
        background-color: $white_1;
        color: $green_1;
        text-align: center;

    }
}


